.body__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.body__wrapper::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 110%;

  background:
    linear-gradient(196.56deg, rgba(214, 19, 252, 0.90) 0%, rgba(214, 19, 252, 0) 20%), /* Фиолетовый с ограничением */
    linear-gradient(
      196.56deg, 
      rgba(0, 0, 0, 9.5e-05) 10.43%, 
      rgba(21, 5, 52, 0.641925) 30.66%, 
      rgba(0, 0, 0, 0.855327) 37.66%, 
      rgba(9, 1, 25, 0.95) 45.57%, 
      rgba(0, 0, 0, 0.95) 77.38%, 
      rgba(5, 1, 14, 0.95) 94.32%
    ),
    image-set(
      url('/src/assets/images/Basic.webp') 1x,
      url('/src/assets/images/Basic_X2.webp') 2x,
      url('/src/assets/images/Basic_X3.webp') 3x
    );

  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}


.main__wrapper{
  max-width: 326px;
  margin: 0 auto;
  position: relative;
}

.main__title{
  max-width: 272px;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2.58rem;
  font-style: normal;
  font-weight: 860;
  line-height: 46px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  padding: 155px 0 0 0;
}

.items__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  margin: 17px 0 0 0;
}

.item {
  position: relative;
  width: 100%;
  height: 139px; 
  overflow: hidden; 
  border-radius: 12px;
}

.item__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item__gradient{
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(4, 6, 26, 0.0001) 62.04%, rgba(6, 9, 37, 0.558287) 76.68%, #15072F 100%);
}

.item__text{
  position: absolute;
  width: 89px;
  height: 27px;
  left: calc(50% - 89px/2 + 0.5px);
  top: calc(50% - 27px/2 + 44px);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-size: .8rem;
  line-height: 14px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  letter-spacing: -.3px;
}

.plans{
  display: flex;
  flex-direction: column;
  margin: 26px 0 0 0;
  gap: 7px;
}

.plan{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 9px 49px 9px 24px;
  gap: 0px 33px;
  background: rgba(255, 255, 255, 0.101634);
  backdrop-filter: blur(5.43656px);
  border-radius: 100px;
}

.plan__slat{
  position: absolute;
  width: 119px;
  height: 20px;
  right: 24px;
  top: -10px;
  background: linear-gradient(90deg, #BC1FEF 0%, #0035FF 100%);
  box-shadow: 0px 1px 6px 0px #0000007E;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.plan__slat::before{
  content: '';
  position: absolute;
  width: 128px;
  top: 9px;
  left: -130px;
  border-width: 1px;
  border: 1px solid;
  border-image-source: linear-gradient(108.44deg, rgba(253, 148, 244, 0) 25%, #FD94F4 75.58%);
  border-image-slice: 1;
  transform: rotateX(45deg);
}


.plan.active{
  background: rgba(255, 255, 255, 0.302434);
  border: 1px solid #FFFFFF;
}

.plan.best-offer.active{
  background: rgba(255, 255, 255, 0.302434);
  border: 1px solid #FFFFFF;
}

.plan.best-offer.active .plan__slat{
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.495885);
  color: #141131;
}

.plan.best-offer.active .plan__slat::before{
  border: none;
}

.plan__text{
  display: flex;
  flex-direction: column;
}

.plan__title{
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: -.4px;
}

.plan__subtitle{
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  letter-spacing: -.5px;
}

.plan__price{
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.plan__btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 127px;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 590;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  color: #070B33;
}

.links__list{
  max-width: 281px;
  margin: 29px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 54px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.link__item{
  list-style-type: none;
}

.link{
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 200;
  font-size: 0.813rem;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #FFFFFF;
  letter-spacing: -1px;
}

.cross__btn_link{
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  left: calc(50% - 24px/2 - 159.5px);
  top: 37px;
  background-image: url('/src/assets/images/cross.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

/* Правим стили под разные языки iPhone SE */
@media(max-width: 375px) and (max-height: 667px){
  /* DE */
  .lang-de .main__title{
    font-size: 1.9rem;
    padding: 108px 0 0 0;
  }

  .lang-de .item__text{
    font-size: .7rem;
  }

  .lang-de .plan__slat{
    font-size: .7rem;
  }

  .lang-de .plan__title{
    font-size: .8rem;
  }

  .lang-de .plan__subtitle{
    font-size: .9rem;
  }

  .lang-de .plan__price{
    font-size: .8rem;
  }

  .lang-de .plan{
    padding: 9px 37px 9px 24px;
  }

  .lang-de .link{
    font-size: .7rem;
  }

  .lang-de .links__list{
    gap: 20px;
    max-width: 308px;
  }

  /* ES */
  .lang-es .main__title{
    font-size: 2.5rem;
  }

  .lang-es .item__text{
    font-size: .7rem;
  }

  .lang-es .plan__title{
    font-size: .9rem;
  }

  .lang-es .plan__subtitle{
    font-size: .9rem;
  }

  .lang-es .link{
    font-size: .7rem;
  }

  .lang-es .links__list{
    gap: 39px;
  }

  /* FR */
  .lang-fr .main__title{
    font-size: 2.4rem;
    padding: 91px 0 0 0;
  }

  .lang-fr .item__text{
    font-size: .65rem;
  }

  .lang-fr .plan__title{
    font-size: .9rem;
  }

  .lang-fr .plan__subtitle{
    font-size: .9rem;
  }

  .lang-fr .plan{
    padding: 9px 24px 9px 24px;
  }

  .lang-fr .plan__price{
    font-size: .9rem;
  }

  .lang-fr .link__item{
    text-align: center;
  }

  /* JA */
  .lang-ja .main__title{
    font-size: 2.4rem;
  }

  .lang-ja .item__text{
    font-size: .6rem;
  }

  .lang-ja .plan__btn{
    font-size: 1.1rem;
  }

  .lang-ja .link{
    font-size: .8rem;
  }

  .lang-ja .link__item{
    text-align: center;
  }

  /* PT */
  .lang-pt .main__title{
    font-size: 2rem;
    padding: 135px 0 0 0;
  }

  .lang-pt .item__text{
    font-size: .7rem;
  }

  .lang-pt .plan{
    padding: 9px 22px 9px 24px;
  }

  .lang-pt .link__item{
    text-align: center;
  }
}

/* iPhone 8+ EN */
@media(min-width: 391px) and (max-width: 414px){
  .main__wrapper{
    max-width: 365px;
  }

  .main__title{
    max-width: 285px;
    font-size: 2.7rem;
    padding: 180px 0 0 0;
  }

  .items__container{
    margin: 30px 0 0 0;
  }

  .item__text{
    font-size: .9rem;
  }

  .plans{
    margin: 35px 0 0 0;
  }

  .plan{
    padding: 11px 49px 11px 24px;
  }

  .plan__title{
    font-size: 1.3rem;
  }

  .plan__slat{
    font-size: 1rem;
  }

  .plan__subtitle,
  .plan__price{
    font-size: 1.1rem;
  }

  .plan__btn{
    padding: 19px 127px;
  }

  /* Адаптация переводов */
  /* DE */
  .lang-de .main__title{
    font-size: 2.2rem;
    padding: 120px 0 0 0;
  }

  .lang-de .plan__slat {
    font-size: .8rem;
  }

  .lang-de .plan__title{
    font-size: 1rem;
  }

  .lang-de .plan__subtitle,
  .plan__price{
    font-size: .9rem;
  }

  .lang-de .plan{
    padding: 11px 32px 11px 24px;
  }

  .lang-de .links__list{
    max-width: 320px;
    gap: 20px;
  }

  .lang-de .link{
    font-size: .75rem;
  }

  /* ES */
  .lang-es .main__title{
    max-width: 290px;
    padding: 160px 0 0 0;
  }

  .lang-es .plan__slat{
    font-size: .9rem;
  }

  .lang-es .plan{
    padding: 11px 46px 11px 24px;
  }

  .lang-es .links__list{
    text-align: center;
  }

  /* FR */
  .lang-fr .main__title{
    padding: 160px 0 0 0;
    max-width: 320px;
    font-size: 2.3rem;
  }

  .lang-fr .item__text{
    width: 100px;
    left: calc(50% - 105px / 2 + 0.5px);
    font-size: .75rem;
  }

  .lang-fr .plan__slat{
    font-size: .8rem;
  }

  .lang-fr .plan__title{
    font-size: 1.1rem;
  }

  .lang-fr .plan__subtitle{
    font-size: 1rem;
  }

  .lang-fr .plan{
    padding: 11px 40px 11px 24px;
    gap: 0 20px;
  }

  .lang-fr .links__list{
    text-align: center;
  }

  /* JA */
  .lang-ja .main__title{
    padding: 138px 0 0 0;
    font-size: 2.6rem;
  }

  .lang-ja .links__list{
    text-align: center;
  }

  /* PT */
  .lang-pt .main__title{
    max-width: 315px;
    font-size: 2.4rem;
    padding: 160px 0 0 0;
  }

  .lang-pt .item__text{
    font-size: .8rem;
  }

  .lang-pt .plan__slat{
    font-size: .85rem;
  }

  .lang-pt .links__list{
    text-align: center;
  }
}

/* iPhone 14 EN */
@media(min-width: 376px) and (max-width: 390px) {
  .body__wrapper::before{
    background-size: auto;
    top: 0;
  }

  .main__wrapper{
    max-width: 342px;
  }

  .main__title{
    padding: 265px 0 0 0;
  }

  .items__container{
    margin: 25px 0 0 0;
    gap: 6px;
  }

  .item{
    height: 146px;
  }

  .item__text{
    position: absolute;
    width: 94px;
    height: 28px;
    left: calc(50% - 94px/2);
    top: calc(50% - 28px/2 + 47px);
    font-size: .75rem;
    letter-spacing: 0;
  }

  .plans{
    margin: 34px 0 0 0;
    gap: 13px;
  }

  .plan{
    padding: 8px 49px 8px 24px;
  }

  .links__list{
    margin: 33px auto 0;
  }
  
  .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

  /* Адаптация переводов */
  /* DE */
  .lang-de .main__title{
    padding: 220px 0 0 0;
    font-size: 2.3rem;
  }

  .lang-de .plan__title{
    font-size: .9rem;
  }

  .lang-de .plan__price{
    font-size: .9rem;
  }

  .lang-de .plan{
    padding: 8px 30px 8px 24px;
    gap: 0 30px;
  }

  .lang-de .link{
    font-size: .7rem;
  }

  .lang-de .links__list{
    gap: 20px;
    justify-content: center;
  }

  /* ES */
  .lang-es .main__title{
    padding: 250px 0 0 0;
    font-size: 2.3rem;
  }

  .lang-es .links__list{
    text-align: center;
  }

  /* FR */
  .lang-fr .main__title{
    padding: 200px 0 0 0;
    font-size: 2.3rem;
  }

  .lang-fr .item__text{
    font-size: .66rem;
  }

  .lang-fr .plan__title{
    font-size: .9rem;
  }

  .lang-fr .plan__subtitle{
    font-size: .9rem;
  }

  .lang-fr .plan__price{
    font-size: .9rem;
  }

  .lang-fr .plan{
    padding: 8px 40px 8px 24px;
  }

  .lang-fr .links__list{
    text-align: center;
  }

  /* JA */
  .lang-ja .main__title{
    font-size: 2.5rem;
    padding: 220px 0 0 0;
  }

  .lang-ja .links__list{
    text-align: center;
  }

  /* PT */
  .lang-pt .main__title{
    max-width: 300px;
    font-size: 2.3rem;
    padding: 240px 0 0 0;
  }

  .lang-pt .plan__subtitle{
    font-size: .9rem;
  }

  .lang-pt .links__list{
    text-align: center;
  }
}

/* iPhone 11 pro EN */
@media (max-width: 375px) and (min-height: 668px) and (max-height: 812px) {
  .lang-en .body__wrapper::before{
    background-size: contain;
  }
  
  .lang-en .main__title{
    padding: 260px 0 0 0;
  }

  /* DE */
  .lang-de .main__title{
    font-size: 2.3rem;
    padding: 210px 0 0 0;
  }

  .lang-de .item__text{
    font-size: .7rem;
  }

  .lang-de .plan__price{
    font-size: .85rem;
  }

  .lang-de .plan__title{
    font-size: .85rem;
  }

  .lang-de .plan__subtitle{
    font-size: .85rem;
  }

  .lang-de .plan{
    padding: 9px 35px 9px 24px;
    gap: 0px 10px;
  }

  .lang-de .link{
    font-size: .7rem;
  }

  .lang-de .links__list{
    max-width: 310px;
    gap: 0px 20px;
  }

  /* ES */

  .lang-es .main__title{
    max-width: 300px;
    padding: 240px 0 0 0;
  }

  .lang-es .item__text{
    font-size: .7rem;
  }

  .lang-es .plan__title{
    font-size: .9rem;
  }

  .lang-es .plan__subtitle{
    font-size: .9rem;
  }

  .lang-es .links__list{
    text-align: center;
  }

  /* FR */
  .lang-fr .main__title{
    max-width: 310px;
    font-size: 2.2rem;
    padding: 245px 0 0 0;
  }

  .lang-fr .item__text{
    font-size: .66rem;
  }

  .lang-fr .plan__title{
    font-size: .9rem;
  }

  .lang-fr .plan__subtitle{
    font-size: .9rem;
  }

  .lang-fr .plan__price{
    font-size: .9rem;
  }

  .lang-fr .plan{
    padding: 9px 33px 9px 24px;
    gap: 0px 10px;
  }

  .lang-fr .links__list{
    text-align: center;
  }

  /* JA */
  .lang-ja .main__title{
    font-size: 2.5rem;
    padding: 220px 0 0 0;
  }

  .lang-ja .plan__btn{
    font-size: 1.1rem;
  }

  .lang-ja .links__list{
    text-align: center;
  }

  /* PT */
  .lang-pt .main__title{
    max-width: 300px;
    font-size: 2.3rem;
    padding: 240px 0 0 0;
  }

  .lang-pt .item__text{
    font-size: .7rem;
  }

  .lang-pt .plan{
    padding: 9px 35px 9px 24px;
    gap: 0px 10px;
  }

  .lang-pt .links__list{
    text-align: center;
  }
}

/* iPhone 14 Plus, 14 pro Max EN */
@media (min-width: 430px) and (max-width: 932px){
  .lang-en .body__wrapper::before{
    top: 0;
  }

  .lang-en .main__wrapper{
    max-width: 370px;
  }

  .lang-en .main__title{
    max-width: 310px;
    font-size: 2.9rem;
    padding: 295px 0 0 0;
  }

  .lang-en .items__container{
    margin: 25px 0 0 0;
  }

  .lang-en .item__text{
    font-size: .9rem;
    left: calc(50% - 100px / 2 + 0.5px);
    top: calc(50% - 10px / 2 + 44px);
  }

  .lang-en .item{
    height: 180px;
  }

  .lang-en .plans{
    margin: 30px 0 0 0;
    gap: 10px;
  }

  .lang-en .plan{
    padding: 12px 49px 12px 24px;
  }

  .lang-en .plan__slat{
    font-size: 1rem;
  }

  .lang-en .plan__title{
    font-size: 1.4rem;
  }

  .lang-en .plan__subtitle{
    font-size: 1.2rem;
  }

  .lang-en .plan__price{
    font-size: 1.2rem;
  }

  .lang-en .plan__btn{
    font-size: 1.4rem;
    padding: 19px 127px;
  }

  .lang-en .links__list{
    max-width: 370px;
    gap: 0;
    justify-content: space-around;
  }

  .lang-en .link{
    font-size: 1rem;
  }

  .lang-en .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

  /* DE */
  .lang-de .body__wrapper::before{
    top: 0;
  }

  .lang-de .main__wrapper{
    max-width: 370px;
  }

  .lang-de .main__title{
    max-width: 310px;
    font-size: 2.9rem;
    padding: 260px 0 0 0;
  }

  .lang-de .item{
    height: 170px;
  }

  .lang-de .item__text{
    font-size: .9rem;
    left: calc(50% - 100px / 2 + 0.5px);
    top: calc(50% - 10px / 2 + 44px);
  }

  .lang-de .plan{
    padding: 12px 25px 12px 24px;
    gap: 0;
  }

  .lang-de .plan__title{
    font-size: 1.1rem;
  }

  .lang-de .plan__subtitle{
    font-size: 1rem;
  }

  .lang-de .plan__price{
    font-size: 1rem;
  }

  .lang-de .plan__btn{
    font-size: 1.4rem;
    padding: 19px 127px;
  }

  .lang-de .links__list{
    max-width: 370px;
    gap: 0;
    justify-content: space-around;
  }

  .lang-de .link{
    font-size: .8rem;
  }

  .lang-de .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

  /* ES */
  .lang-es .body__wrapper::before{
    top: 0;
  }

  .lang-es .main__wrapper{
    max-width: 370px;
  }

  .lang-es .main__title{
    max-width: 310px;
    font-size: 2.9rem;
    padding: 310px 0 0 0;
  }

  .lang-es .item{
    height: 170px;
  }

  .lang-es .item__text{
    width: 100px;
    font-size: .8rem;
    left: calc(50% - 100px / 2 + 0.5px);
    top: calc(50% - 10px / 2 + 44px);
  }

  .lang-es .plan{
    padding: 12px 25px 12px 24px;
    gap: 0;
  }

  .lang-es .plan__title{
    font-size: 1.1rem;
  }

  .lang-es .plan__subtitle{
    font-size: 1rem;
  }

  .lang-es .plan__price{
    font-size: 1rem;
  }

  .lang-es .plan__btn{
    font-size: 1.4rem;
    padding: 19px 127px;
  }

  .lang-es .links__list{
    max-width: 370px;
    gap: 0;
    justify-content: space-around;
  }

  .lang-es .link{
    font-size: .8rem;
  }

  .lang-es .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

  /* FR */
  .lang-fr .body__wrapper::before{
    top: 0;
  }

  .lang-fr .main__wrapper{
    max-width: 370px;
  }

  .lang-fr .main__title{
    max-width: 370px;
    font-size: 2.9rem;
    padding: 285px 0 0 0;
  }

  .lang-fr .item{
    height: 170px;
  }

  .lang-fr .item__text{
    width: 100px;
    font-size: .8rem;
    left: calc(50% - 100px / 2 + 0.5px);
    top: calc(50% - 10px / 2 + 44px);
  }

  .lang-fr .plan{
    padding: 12px 25px 12px 24px;
    gap: 0;
  }

  .lang-fr .plan__title{
    font-size: 1.1rem;
  }

  .lang-fr .plan__subtitle{
    font-size: 1rem;
  }

  .lang-fr .plan__price{
    font-size: 1rem;
  }

  .lang-fr .plan__btn{
    font-size: 1.4rem;
    padding: 19px 127px;
  }

  .lang-fr .links__list{
    max-width: 370px;
    gap: 0;
    justify-content: space-around;
  }

  .lang-fr .link{
    font-size: .8rem;
  }

  .lang-fr .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

  /* JA */
  .lang-ja .body__wrapper::before{
    top: 0;
  }

  .lang-ja .main__wrapper{
    max-width: 370px;
  }

  .lang-ja .main__title{
    max-width: 310px;
    font-size: 2.9rem;
    padding: 290px 0 0 0;
  }

  .lang-ja .item{
    height: 170px;
  }

  .lang-ja .item__text{
    width: 100px;
    font-size: .8rem;
    left: calc(50% - 100px / 2 + 0.5px);
    top: calc(50% - 10px / 2 + 44px);
  }

  .lang-ja .plan{
    padding: 12px 25px 12px 24px;
    gap: 0;
  }

  .lang-ja .plan__title{
    font-size: 1.1rem;
  }

  .lang-ja .plan__subtitle{
    font-size: 1rem;
  }

  .lang-ja .plan__price{
    font-size: 1rem;
  }

  .lang-ja .plan__btn{
    font-size: 1.4rem;
    padding: 19px 127px;
  }

  .lang-ja .links__list{
    max-width: 370px;
    gap: 0;
    justify-content: space-around;
  }

  .lang-ja .link{
    font-size: .8rem;
  }

  .lang-ja .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

  /* PT */
  .lang-pt .body__wrapper::before{
    top: 0;
  }

  .lang-pt .main__wrapper{
    max-width: 370px;
  }

  .lang-pt .main__title{
    max-width: 370px;
    font-size: 2.9rem;
    padding: 315px 0 0 0;
  }

  .lang-pt .item{
    height: 170px;
  }

  .lang-pt .item__text{
    width: 100px;
    font-size: .8rem;
    left: calc(50% - 100px / 2 + 0.5px);
    top: calc(50% - 10px / 2 + 44px);
  }

  .lang-pt .plan{
    padding: 12px 25px 12px 24px;
    gap: 0;
  }

  .lang-pt .plan__title{
    font-size: 1.1rem;
  }

  .lang-pt .plan__subtitle{
    font-size: 1rem;
  }

  .lang-pt .plan__price{
    font-size: 1rem;
  }

  .lang-pt .plan__btn{
    font-size: 1.4rem;
    padding: 19px 127px;
  }

  .lang-pt .links__list{
    max-width: 370px;
    gap: 0;
    justify-content: space-around;
  }

  .lang-pt .link{
    font-size: .8rem;
  }

  .lang-pt .cross__btn_link{
    left: calc(50% - 24px/2 - 167px);
    top: 64px;
  }

}









